@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$color-primary: #8d8d8d;
$color-secondary: #b3b3b3;
$border: #ffa500;
$font-color: #000;
$button-blue: #0000ff;
$bg-button: #808080;
$custom-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);